<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RC_Wind_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1290},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_Wind_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1333},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_Wind_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1376},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_Wind_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1419},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,43},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,86},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,129},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,172},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,215},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,258},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,301},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_bamboo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,344},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,387},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,430},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,473},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,516},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,559},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,602},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,645},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,688},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,731},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,774},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,817},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,860},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,903},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,946},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,989},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1032},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1075},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1118},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1161},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1204},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RC_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,1247},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_RC.png</string>
            <key>size</key>
            <string>{64,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a05105d077b333c35c50081b6d33f59:5a6aa954148665c858c5bb880ddcee4d:62fd2e27835cceedc87dd08e746e8512$</string>
            <key>textureFileName</key>
            <string>Z_RC.png</string>
        </dict>
    </dict>
</plist>
