<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,0},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,172},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,344},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,516},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,688},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,1204},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,1204},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,1204},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{792,860},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{0,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{132,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{264,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{528,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{660,1032},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{396,1204},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_poker.png</string>
            <key>size</key>
            <string>{924,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea4045e7e6f0ed453f79ac988fe4565:a8741690ed6729a095611b1db1b28028:c423a48f3b8e662dcfcfde2dbfad6419$</string>
            <key>textureFileName</key>
            <string>Z_poker.png</string>
        </dict>
    </dict>
</plist>
