<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_Wind_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,1180},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_Wind_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,1180},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_Wind_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,1180},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_Wind_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,1298},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,118},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,118},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,118},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,236},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,236},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_bamboo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,236},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,354},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,354},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,354},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,472},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,472},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,472},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,590},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,590},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,590},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,708},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,708},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,708},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,826},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,826},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,826},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,944},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,944},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,944},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,1062},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{82,1062},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{164,1062},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{246,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8337ceb9a07031b4e6625f2c61133932:90ee639c5d105b5a00e1e2f533d8a726:3e01af5d1890d147b8fc67e672890a80$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
