<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_mj_b_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{70,0},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{0,50},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_c_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{58,95},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_c_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{0,140},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_folds_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{53,50},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_folds_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{0,95},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,206},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,206},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{33,0},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{64,140},{48,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_v_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{0,270},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mjEmpty.png</string>
            <key>size</key>
            <string>{123,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d437db5ae5b92c5f8bc760c5f35a92:90eb2b0b83f56d1e044336ded0587b53:4786332da74e3d65ab3d04a353d0fa22$</string>
            <key>textureFileName</key>
            <string>mjEmpty.png</string>
        </dict>
    </dict>
</plist>
